NOTE THAT IN THE THIRD STAGE, THE INPUT OF WAGE ALONE DOMINATES AND SINGLEHANDEDLY DICTATES THE RESULTS. THIS IS BECAUSE THE PRICE HAS NOT BEEN NORMALIZED ($-MEAN/SD$). 

TO IMPROVE: NORMALIZE THE PRICE AND ADJUST THE WAGE + BUDGET ACCORDINGLY.

In [1]:
# RUN THIS CELL

import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
# kmodes library: https://github.com/nicodv/kmodes
from kmodes.kmodes.kprototypes import KPrototypes

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

df = pd.read_csv("./data.csv", sep=',',na_values=['NULL', ''])
df = df.dropna(subset = ['Price'])

df['PRICE_RANK'] = df['Price'].rank(ascending=True)
luxury_weights = []
for index, row in df.iterrows():
    if row['PRICE_RANK'] < len(df.index)/3:
        luxury_weights.append(0)
    elif row['PRICE_RANK'] < 2*len(df.index)/3:
        luxury_weights.append(1)
    else:
        luxury_weights.append(2)
df = df.assign(luxury_weight=pd.Series(luxury_weights).values)
df.head(10)

ModuleNotFoundError: No module named 'kmodes.kmodes.kprototypes'; 'kmodes.kmodes' is not a package

In [4]:
# RUN THIS CELL


# demographic data
demo = pd.read_csv("./demo_data.csv", sep=',',na_values=['NULL', ''])
print(demo.columns.values)
demo.head(10)

['Manufacturer' 'Model' 'Age' 'Gender' 'Region' 'Week 14' 'Week 15'
 'Week 16' 'Week 17' 'Week 18' 'Week 19' 'Week 20' 'Week 21' 'Week 22'
 'Week 23' 'Week 24' 'Week 25' 'Week 26' 'Week 27' 'Week 28' 'Week 29'
 'Week 30' 'Week 31' 'Week 32' 'Week 33' 'Week 34' 'Week 35' 'Week 36'
 'Week 37' 'Week 38' 'Week 39']

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    Manufacturer           Model    Age Gender       Region Week 14 Week 15 Week 16 Week 17 Week 18 Week 19 Week 20 Week 21 Week 22 Week 23 Week 24 Week 25 Week 26 Week 27 Week 28 Week 29 Week 30 Week 31 Week 32 Week 33 Week 34 Week 35 Week 36 Week 37 Week 38 Week 39
0            BMW  5-Series (F10)  35~39      M  Gyeonggi-do     130     128     125     135     138     151     121     138     147     124     121     108     121     119     119     106     136     112     124     120     113     123     121     123     111     114
1            BMW  5-Series (F10)  35~39      M        Seoul     128     117     119     106     122     126     127     120     119     113     115     114     119     140      97     105     107     111     116     123     114     109     105     105     101      98
2        Hyundai     Grandeur HG  35~39      M  Gyeonggi-do     118     122     104     114     115     115     118     112     123     109     111     104     107      98     102     109     121      97     103     104     106      95     114      88     106      92
3            BMW  5-Series (F10)  40~44      M  Gyeonggi-do      99     102      92      83      99      96      91      81      82      90     100      88      84      81      85      99      85      86      85     119      92      81      88      89      82      87
4  Mercedes-Benz    E-Class W212  35~39      M        Seoul      96      98      93     100     109     117     118      93     106     101     101      90      95     119     108      95      92     116     104     107     110      95      91      94      90      78
5           Audi          NEW A6  35~39      M  Gyeonggi-do      95      82      85      90      96      71      89      88      94      85      92      73      81      83      82      81      92      77      86      96     108      91      87      92      87      70
6  Mercedes-Benz    E-Class W212  35~39      M  Gyeonggi-do      94      92     102      84     110     120     112     104      97     118      91     101      85      83     108     103     102     105     109     116     118      99      93      95      93      84
7            BMW  5-Series (F10)  40~44      M        Seoul      91      79      86      74      93      95      78      86      91      90      88      86      73      72      83      89      84      81      71      94      76      69      74      83      74      74
8            BMW  5-Series (F10)  30~34      M  Gyeonggi-do      88      80      79      73      66      85      81      84     100      81      66      77      72      70      78      90      73      84      95      85      59      52      56      68      58      65
9            BMW  3-Series (F30)  35~39      M  Gyeonggi-do      86     104      96      99      95     110      88      93      92      87      83      77      83      88      82      74      97      85      79      97      93      82      82     100      94      72

In [5]:
# RUN THIS CELL

age_approx = []
for index, row in demo.iterrows():
    if row['Age'][0]=='~':
        age_approx.append('0')
    else:
        age_approx.append(row['Age'][0]+'0')
    
demo = demo.assign(age_approx=pd.Series(age_approx).values)
demo = demo.drop(demo[demo.age_approx == 'A0'].index)
demo.head()

    Manufacturer           Model    Age Gender       Region Week 14 Week 15 Week 16 Week 17 Week 18 Week 19 Week 20 Week 21 Week 22 Week 23 Week 24 Week 25 Week 26 Week 27 Week 28 Week 29 Week 30 Week 31 Week 32 Week 33 Week 34 Week 35 Week 36 Week 37 Week 38 Week 39 age_approx
0            BMW  5-Series (F10)  35~39      M  Gyeonggi-do     130     128     125     135     138     151     121     138     147     124     121     108     121     119     119     106     136     112     124     120     113     123     121     123     111     114         30
1            BMW  5-Series (F10)  35~39      M        Seoul     128     117     119     106     122     126     127     120     119     113     115     114     119     140      97     105     107     111     116     123     114     109     105     105     101      98         30
2        Hyundai     Grandeur HG  35~39      M  Gyeonggi-do     118     122     104     114     115     115     118     112     123     109     111     104     107      98     102     109     121      97     103     104     106      95     114      88     106      92         30
3            BMW  5-Series (F10)  40~44      M  Gyeonggi-do      99     102      92      83      99      96      91      81      82      90     100      88      84      81      85      99      85      86      85     119      92      81      88      89      82      87         40
4  Mercedes-Benz    E-Class W212  35~39      M        Seoul      96      98      93     100     109     117     118      93     106     101     101      90      95     119     108      95      92     116     104     107     110      95      91      94      90      78         30

In [7]:
# RUN THIS CELL
name_list = demo.columns.values
for name in name_list[5:]:
    demo[name] = pd.to_numeric(demo[name])
    
unique_age = list(demo['age_approx'].unique())
unique_gender = list(demo['Gender'].unique())
table = {}
for age in unique_age:
    for gender in unique_gender:
        table[(age, gender)] = {}
for index, row in demo.iterrows():
    num_list = []
    for name in name_list[5:-1]:
        num_list.append(row[name])
    if row['Model'] in table[(row['age_approx'], row['Gender'])]:
        table[(row['age_approx'], row['Gender'])][row['Model']] += num_list
    else:
        table[(row['age_approx'], row['Gender'])][row['Model']] = num_list
for age_gender, value in table.items():
    for model, num_list in value.items():
        table[age_gender][model] = np.mean(table[age_gender][model])

for age_gender, value in table.items():
    new_dict = value.copy()
    for model, tot in table[age_gender].items():
        if not model in list(df['Model']):
            new_dict.pop(model, None)
    table[age_gender] = new_dict

for age_gender, value in table.items():
    table[age_gender] = list(table[age_gender].items())
    
from operator import itemgetter
for age_gender, value in table.items():
    sorted_scores = sorted(value, key=itemgetter(1))
    new_dict = {}
    for i in range(len(sorted_scores)):
        if i <= len(sorted_scores)//3:
            new_dict[sorted_scores[i][0]] = 0
        elif i <= 2*len(sorted_scores)//3:
            new_dict[sorted_scores[i][0]] = 1
        else:
            new_dict[sorted_scores[i][0]] = 2
    table[age_gender] = new_dict

In [12]:
def second_stage(df, age, gender, brand):
    """
    Recommends a list of cars that satisfies the specified age and preferred brand.
    If brand is a nationality ('Korea', 'Japan', or 'Germany'), add weights to the 
    corresponding car of the associated country. If brand is 'Luxury', add weights 
    to each car according to its price.

    Inputs:
    - df: data frame, data to filter
    - age: string, age in approximation (e.g.,'30' for 30s)
    - gender: stirng, either 'M' or 'F'
    - brand: string, either 'Korea', 'Japan', 'Germany', or 'Luxury'

    Outputs:
    - filtered: dataframe, containing objects satisfying the conditions
    """
    filtered = None
    scores = []
    for index, row in df.iterrows():
        score = 0
        if row['Model'] in table[(int(age),gender)]:
            score += table[(int(age),gender)][row['Model']]
        if brand != 'Luxury':
            if row['Country'] == brand:
                score += 1
        else:
            score += row['luxury_weight']
        scores.append(score)
    df = df.assign(scores=pd.Series(scores).values)
    filtered = df.nlargest(int(1/2*len(df.index)), 'scores', 'first')
    return filtered


# HOW TO USE: CALLING THE FUNCTION second_stage by changing '20', 'M', 'Japan' below, 
# we should get a priliminary filter after running this cell
fil2 = second_stage(df, '20', 'M', 'Japan')
fil2

            Manufacturer                        Model    Age Gender       Region   Sum EV/Hybrid available                             advertisement list API                                     (Ryvuss Query)                     link to list page of Encar.com                                        Unnamed: 10       Car type    Price  Country  PRICE_RANK  luxury_weight  scores
1                   Audi                           A7  35~39      M        Seoul   958                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN            BIG   5069.0    Japan        94.0              2       3
3                   Audi                       New A4  35~39      M  Gyeonggi-do  1144                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   2416.0    Japan        55.0              1       3
4                   Audi                       NEW A6  35~39      M  Gyeonggi-do  2253                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   3303.0    Japan        70.0              1       3
10                   BMW               3-Series (F30)  35~39      M  Gyeonggi-do  2318                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   3296.0    Japan        69.0              1       3
12                   BMW               4-Series (F32)  30~34      M        Seoul  1124                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN          SPORT   2929.0    Japan        63.0              1       3
13                   BMW               5 Series (G30)  35~39      M        Seoul  1568                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   3654.0    Japan        77.0              2       3
21                   BMW                     M3 (F80)  35~39      M  Gyeonggi-do   493                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN          SPORT   4493.0    Japan        90.0              2       3
25                   BMW                     X5 (F15)  35~39      M        Seoul  1147                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         SUV/RV   6532.0    Japan       101.0              2       3
95                   Kia              All New Canival  35~39      M  Gyeonggi-do  2572                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   3425.0    Japan        73.0              1       3
99                   Kia              all new Morning  35~39      M  Gyeonggi-do   913                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT    666.0    Japan         2.0              0       3
101                  Kia              All New Sorento  35~39      M  Gyeonggi-do  1856                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   2393.0    Japan        54.0              1       3
186            Ssangyong                New KORANDO C  35~39      M  Gyeonggi-do   463                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   1539.0    Japan        20.0              0       3
192           Volkswagen                     Golf MK7  35~39      M        Seoul  1411                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   2247.0    Japan        46.0              1       3
0                   Audi                           A5  35~39      M        Seoul   747                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   3605.0    Japan        76.0              1       2
2                   Audi                       NEW A3  35~39      M  Gyeonggi-do   403                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1900.0    Japan        34.0              0       2
11                   BMW  3-Series Gran Turismo (F34)  35~39      M        Seoul   687                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   2950.0    Japan        64.0              1       2
16                   BMW            5-Series GT (F07)  35~39      M        Seoul   957                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   4711.0    Japan        93.0              2       2
20                   BMW                     M3 (E90)  35~39      M        Seoul   511                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN          SPORT   4462.0    Japan        89.0              2       2
22                   BMW                     X3 (F25)  35~39      M        Seoul   840                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         SUV/RV   4610.0    Japan        92.0              2       2
27                   BMW                     X6 (F16)  35~39      M        Seoul   639                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         SUV/RV   6751.0    Japan       103.0              2       2
28                   BMW                     Z4 (E89)  35~39      M  Gyeonggi-do   544                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN          SPORT   4103.0    Japan        83.0              2       2
35   Chevrolet(GMDeawoo)              Chevrolet Cruze  25~29      M  Gyeonggi-do   669                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1015.0  Germany         6.0              0       2
39   Chevrolet(GMDeawoo)                       Malibu  35~39      M  Gyeonggi-do  1011                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1373.0  Germany        16.0              0       2
48               Hyundai                  Accent(New)  25~29      M  Gyeonggi-do   483                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...  http://www.encar.com/dc/dc_carsearchlist.do?ca...  SMALL/COMPACT    885.0  Germany         4.0              0       2
58               Hyundai                   Genesis DH  35~39      M  Gyeonggi-do  1785                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN            BIG   3375.0  Germany        72.0              1       2
60               Hyundai                  Grandeur HG  35~39      M  Gyeonggi-do  2807                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN            BIG   1984.0  Germany        39.0              1       2
68               Hyundai                     i30(New)  35~39      M  Gyeonggi-do   569                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1134.0    Korea        11.0              0       2
69               Hyundai                          i40  35~39      M  Gyeonggi-do   536                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1624.0    Korea        27.0              0       2
70               Hyundai                    LF Sonata  35~39      M  Gyeonggi-do  1458                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1568.0    Korea        22.0              0       2
71               Hyundai             LF Sonata Hybrid  30~34      M  Gyeonggi-do   612                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1858.0    Korea        33.0              0       2
74               Hyundai                New Tucson ix  35~39      M  Gyeonggi-do   440                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   1600.0    Korea        23.0              0       2
78               Hyundai                  Santa Fe DM  35~39      M  Gyeonggi-do  1207                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   2021.0    Korea        42.0              1       2
81               Hyundai         Sonata the Brilliant  35~39      M  Gyeonggi-do   555                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1369.0    Korea        15.0              0       2
83               Hyundai               The New Avante  25~29      M  Gyeonggi-do   716                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1095.0    Korea         9.0              0       2
84               Hyundai        The New GENESIS Coupe  30~34      M  Gyeonggi-do   532                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN          SPORT   1923.0    Korea        35.0              0       2
90              Infinity                          Q50  35~39      M  Gyeonggi-do   706                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   2688.0    Japan        60.0              1       2
94                  Jeep                Wrangler (JK)  35~39      M  Gyeonggi-do   696                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         SUV/RV   4012.0    Japan        81.0              2       2
100                  Kia                All New Pride  35~39      M  Gyeonggi-do   393                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1019.0    Japan         7.0              0       2
102                  Kia                   Carnival R  40~44      M  Gyeonggi-do  1452                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   2360.0    Japan        51.0              1       2
105                  Kia                           K3  25~29      M  Gyeonggi-do   620                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   1111.0    Korea        10.0              0       2
120                  Kia                          RAY  35~39      M  Gyeonggi-do  1242                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT    907.0    Korea         5.0              0       2
125                  Kia                   The New K5  30~34      M  Gyeonggi-do   759                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         MIDDLE   1622.0    Korea        26.0              0       2
126                  Kia                   The New K7  35~39      M  Gyeonggi-do  1139                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN            BIG   1995.0    Korea        40.0              1       2
130                  Kia           The New Sportage R  30~34      M  Gyeonggi-do   718                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   1611.0    Korea        24.5              0       2
143        Mercedes-Benz                 C-Class W204  35~39      M  Gyeonggi-do  1184                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   4151.0    Korea        85.0              2       2
144        Mercedes-Benz                 C-Class W205  35~39      M        Seoul  2095                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   3664.0    Korea        78.0              2       2
145        Mercedes-Benz               CLA-Class C117  30~34      M  Gyeonggi-do   624                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN  SMALL/COMPACT   3442.0    Korea        74.0              1       2
146        Mercedes-Benz               CLS-Class W218  35~39      M        Seoul  1532                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   6865.0    Korea       104.0              2       2
148        Mercedes-Benz                 E-Class W212  35~39      M  Gyeonggi-do  2618                   O  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         MIDDLE   5596.0    Korea        97.0              2       2
150        Mercedes-Benz                 G-Class W463  35~39      M        Seoul   384                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.N._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...                                                NaN         SUV/RV  12421.0    Korea       112.0              2       2
182            Ssangyong               Korando Sports  35~39      M  Gyeonggi-do   617                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...                                                NaN         SUV/RV   1555.0    Japan        21.0              0       2

In [24]:
def third_stage(df, wage, car_type, small_car, hybrid):
    """
    Recommends a list of cars based on specified car_type, small_car, budget1,
    budget2, using kmodes algorithm. If car_type is normal, small_car will be
    considered as a replacement. Overall, the net effect of car_type and small_car
    is one of the followings: 'MIDDLE', 'COMPACT', 'BIG', 'SUV/VR', 'SPORT', 'SMALL'

    Inputs:
    - df: data frame, to filter
    - wage: string, either '15', '15-30', '30-60', or '60'
    - car_type: string, either 'NORMAL', 'SUV/VR', or 'SPORT'
    - small_car: string, either 'SMALL/COMPACT', 'MIDDLE', or 'BIG'
    - hybrid: string, 'X' or 'O'
    """
    # According to Weiting's suggestion
    if wage == '15':
        budget = 1500/2
    elif wage == '15-30':
        budget = (4000+1500)/2
    elif wage == '30-60':
        budget = (4000+7000)/2
    else:
        budget = (16931+7000)/2
        
    X_train = df[['Price','Car type', 'EV/Hybrid available' ]].values 
    kproto = KPrototypes(n_clusters=5, init='Huang', verbose=0)
    clusters = kproto.fit(X_train, categorical=[1,2]).labels_
    if car_type != 'NORMAL':
        net_car_type = car_type
    else:
        net_car_type = small_car
    X_test = np.array([[budget, net_car_type, hybrid]])
    X_df =  pd.DataFrame(X_test)
    X_df[[0]]=X_df[[0]].astype('float')
    X_test = X_df.values
    labels = kproto.predict(X_test, categorical=[1,2])
    fil_mask = df.assign(cluster=clusters)
    fil_mask = fil_mask[fil_mask.cluster==labels[0]].drop(axis=1, columns='cluster')
    
    num_rec = 3 # JUST NEED TO SPECIFY THE NUMBER OF RECOMMENDATIONS HERE
    
    return fil_mask.nlargest(num_rec, 'scores', 'first') 


# HOW TO USE: CALLING THE FUNCTION third_stage by changing '30-60', 'SUV/RV', 'MIDDLE', 'O' below.
# We should get only 3 recommendations. 
fil3 = third_stage(fil2, '15-30', 'SUV/RV', 'SMALL', 'X')
fil3

    Manufacturer            Model    Age Gender       Region   Sum EV/Hybrid available                             advertisement list API                                     (Ryvuss Query)                     link to list page of Encar.com Unnamed: 10       Car type   Price Country  PRICE_RANK  luxury_weight  scores
3           Audi           New A4  35~39      M  Gyeonggi-do  1144                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...         NaN  SMALL/COMPACT  2416.0   Japan        55.0              1       3
12           BMW   4-Series (F32)  30~34      M        Seoul  1124                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.A._.(C.Manufacturer...  http://www.encar.com/fc/fc_carsearchlist.do?ca...         NaN          SPORT  2929.0   Japan        63.0              1       3
101          Kia  All New Sorento  35~39      M  Gyeonggi-do  1856                   X  http://api.encar.com/search/car/list/premium?c...  (And.Hidden.N._.(C.CarType.Y._.(C.Manufacturer...  http://www.encar.com/dc/dc_carsearchlist.do?ca...         NaN         SUV/RV  2393.0   Japan        54.0              1       3